<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Register</h1>
    <form action="/insertAccount" method="post">
        Name <input type="text" name="txtName">
        <br>
        Password <input type="password" name="txtPassword">
        <br>
        Role <select name="txtRole">
            <option value="Admin">Admin</option>
            <option value="Staff">Staff</option>
        </select>
        <br>
        <input type="submit" value="Register">
    </form>
</body>

</html>